@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="display:grid;background-color:#000000">
    <h1 class="text-center" style="color:#E8E8E8;margin-left:-5%;">Bienvenido a Zona Gamer!</h1>
    <img src="~/css/thumb-1920-1052293.jpg" alt="Banner" style="border: 3px solid black; max-width: 100%; max-height: 100%"/>
    <div class="container" style=" margin-top:10%; margin-left:1%;background-color:#000000">
        <img src="~/css/coleccion.jpg" alt="coleccion" style="float:left; margin-left: -10%;max-width: 80%; max-height: 80% "/>
        <h2 class="text-xl-center" style="float:rigth; padding-left: 50%; padding-top: 10%;color:#E8E8E8;">Podras disfrutar de una amplia coleccion de video Juegos</h2>
    </div>
</div>
